/* viaoda-libre-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/viaoda-libre-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/viaoda-libre-v20-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "monotype";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Monotype-Corsiva-Regular.ttf") format("truetype");
}

/* cormorant-garamond-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cormorant-garamond-v21-cyrillic_latin-500.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/cormorant-garamond-v21-cyrillic_latin-500.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* cormorant-garamond-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cormorant-garamond-v21-cyrillic_latin-600.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/cormorant-garamond-v21-cyrillic_latin-600.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "mrs-saint";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/MrsSaintDelafield-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* cormorant-infant-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cormorant-infant-v22-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/cormorant-infant-v22-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
