.telegram {
  &__body {
    text-align: center;
    font-family: Bellota;
    color: #314975;
    margin-bottom: 20px;
  }
  &__container {
  }
  &__header {
    font-family: Vibes;
    font-size: 48px;
    background: linear-gradient(to right, #cf9f5c, #f9b818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__link {
    padding: 8px 24px;
    border: 2px solid #f9b818;
    border-radius: 50px;
    color: #f9b818;
    font-family: Bellota;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
